<main class="confirm"></main>
<span id="data" hidden><%= ingredients |> Enum.map(fn x -> "#{x.id}§#{x.name}§#{x.price}" end) |> Enum.join("§§") %>></span>
<script src = "/js/confirm.js" defer></script>