main.index {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

main.cart {
  display: grid;
  grid-template-columns: 100%;
}

main > div {
  grid-area: auto;
  display: grid;

  background-color: #ffecc4;
  border: 2px solid #006f45;
  border-radius: 5px;
  padding: 2.5%;
  margin: 2.5%;
}

main.index > div {
  grid-template-areas: "img name price" "img ingredients ingredients" "img customize buy";
}

main.cart > div {
  grid-template-areas: "img name price dropdown" "img ingredients toggles toggles" "img options toggles toggles";
  grid-template-columns: 40% 0.5fr 0.5fr 5%;
}

main.confirm > div {
  grid-template-areas: "img name price" "img ingredients ingredients";
}

main > div > img:not(.dropdown) {
  grid-area: img;
}

main > div > h2 {
  grid-area: name;
}

main > div > span {
  grid-area: price;
}

main > div > ul {
  grid-area: ingredients;
}

.customize {
  grid-area: customize;
}

.options {
  grid-area: options;
  height: min-content;
}

.buy {
  grid-area: buy;
}

.dropdown {
  grid-area: dropdown;
  transform: rotate(270deg);
  transition: transform 1s;
}

.opened {
  transform: rotate(180deg);
}

.toggles {
  grid-area: toggles;
  height: min-content;
}

.toggles,
.options {
  display: grid;
  grid-template-columns: min-content min-content;
  align-items: center;
}