main.index {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

main.cart {
  display: grid;
  grid-template-columns: 100%;
}

main > div {
  grid-area: auto;
  display: grid;

  background-color: #ffecc4;
  border: 2px solid #006f45;
  border-radius: 5px;
  padding: 2.5%;
  margin: 2.5%;
}

main.index > div {
  grid-template-areas: "img name price" "img ingredients ingredients" "img customize buy";
  grid-template-columns: 40% 0.5fr 0.5fr;
  column-gap: 0.5%;
}

main.cart > div {
  grid-template-areas: "img name price" "img ingredients toggles" "remove options toggles";
  grid-template-columns: 40% 1fr 1fr;
  grid-template-rows: 15% 1fr 10%;
}

main.confirm > div {
  grid-template-areas: "img name price" "img ingredients ingredients";
}

main > div > img:not(.dropdown) {
  grid-area: img;
}

main > div > h2 {
  grid-area: name;
}

main > div > span {
  grid-area: price;
  text-align: right;
}

main > div > ul {
  grid-area: ingredients;
}

button {
  height: 2rem;
  border-radius: 10px;
  border: 0;
  cursor: pointer;
}

main.index button:active {
  box-shadow: inset 3px 3px;
}

.customize {
  grid-area: customize;
  background-color: #006f45;
}

.buy {
  grid-area: buy;
  background-color: lightgreen;
}

.remove {
  grid-area: remove;
  background-color: red;
}

.options {
  grid-area: options;
  height: min-content;
}

.dropdown {
  grid-area: dropdown;
  transform: rotate(270deg);
  transition: transform 1s;
}

.opened {
  transform: rotate(180deg);
}

.toggles {
  grid-area: toggles;
}

label {
  white-space: nowrap;
}

.toggles,
.options {
  display: grid;
  grid-template-columns: min-content min-content;
  align-items: center;
}

header {
  display: flex;
  flex-direction: row;
}

header > .logo {
  flex: 5;
}

header > .basket {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.basket > img {
  flex: 1;
}


@keyframes shake{
  0% { transform: skewY(-15deg); }
  5% { transform: skewY(15deg); }
  10% { transform: skewY(-15deg); }
  15% { transform: skewY(15deg); }
  20% { transform: skewY(0deg); }
  100% { transform: skewY(0deg); }
 }