<!DOCTYPE html>
<html>
<head>
	<title>Tony's Pizza</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="/pluggy.css">
</head>
<body>
	<header>
		<a class="logo" href="/">	
  			<img src="img/logo.svg" />
		</a>
		<a class="basket" href="/cart">
			<div class="basket-wrapper">
				<img src="img/basket.svg" />
			</div>
		</a>
	</header>
	<%= template %>
</body>
</html>