<!DOCTYPE html>
<html>
<head>
	<title>Welcome to Pluggy</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="/pluggy.css">
</head>
<body>
	<header>
  		<img src="img/logo.svg" />
	</header>
	<%= template %>
</body>
</html>